[access]
	inheritFrom = All-Projects
[project]
	description = This repositories are only for Practicing
[access "refs/*"]
	owner = group user/abhilashoxy
[access "refs/for/refs/*"]
	read = group user/abhilashoxy
	push = group user/abhilashoxy
	label-Code-Review = -2..+2 group user/abhilashoxy
	label-Verified = -1..+1 group user/abhilashoxy
	rebase = group user/abhilashoxy
	removeReviewer = group user/abhilashoxy
	submit = group user/abhilashoxy
[access "refs/heads/*"]
	read = group user/abhilashoxy
	create = group user/abhilashoxy
	push = +force group user/abhilashoxy
	pushMerge = group user/abhilashoxy
[access "refs/tags/*"]
	push = group user/abhilashoxy
	push = +force group user/abhilashoxy
